#Title{
    
    text-align: center;
    margin: 40px;
    margin-top: 60px;
    font-size: 70px;
    color: rgb(233, 233, 233);
    
}

#div{
    
    background: rgb(2,30,84);
    background: radial-gradient(circle, rgba(2,30,84,1) 24%, rgba(14,45,98,1) 50%, rgba(1,17,38,1) 86%);
}



